.input{
    margin-left: 50%;
    
}

.search{
    display: flex;
    justify-content: center;
}

Button{
    margin-left: 15px;
    border: 0.5px solid;
    border-radius: 5px;
}

.noposts{
    background-color: aquamarine;
}

input{
    margin-left: 90px;
    padding: 10px;
    border-radius: 5px;
}