.headers{
    font-style: italic;
    font-weight: 700;
}

.maindisplay{
    background-color: dimgrey;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: none;
    display: flex;
}

h3{
    background-color: lightcyan;
    margin-bottom: none;
    padding: 10px;
    border-bottom: none;
}

img{
    width: 25%;
    height: 25%;
    border-top: none;
    margin-left: 5%;
    margin-right: 10%;
    border: black;
}

p{
    padding: 5px;
    background-color: gray;
    margin-right: 15%;
}

.ingrads{
    padding: 5px;
    background-color: gray;
    margin-right: 15%;
    height: 200px;
    overflow: auto;
}

.container{
    background-color: moccasin;
    margin-top: 15px;
    padding: 15px;
    border-bottom: none;
    margin-bottom: none;
    font-weight: bold;
    font-size: larger;
}

.submain{
    padding: 20px;
}